*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.iconCart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.iconCart a svg{
    color: black;
    width: 25px;
    height: 25px;
    z-index: 0;
    display: flex;
    justify-content: center;
}

.cartNumber{
    color:black;
}